/target
.env
.env*
.env-*
**/*.rs.bk
/node_modules
.terraform*
.localstack-*
/truly_cli/res/*
/terraform/variables-prod.*
/terraform/variables-stage.*
sui.log.*
qwdata
grafana-storage
terraform.tfstate*
/terraform/plan.tfplan

